PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb_conn_string=mongodb+srv://yogif346_db_user:rmxcLDpOMi5Q1saW@duidku.j0xbluf.mongodb.net/?appName=duidku
JWT_SECRET=565f9b93c1ad6bb0afa0e55bb138c1fa4decabbbcce04b6077fceda46c368e52cbc695e6f47e0a1163337e0d0e99dfd1ae5739ffe06ee47301020d54da6883f2
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173